@mixin text-shadow($color: #9600ff, $x:1px, $y:1px, $blur:15px) {
     text-shadow:
        (-$x) (-$y) ($blur) $color,
        ($x) (-$y) ($blur) $color,
        ($x) ($y) ($blur) $color,
        (-$x) ($y) ($blur) $color;
}

.popup-background {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000088;
    z-index: 25;

    .popup_wrap {
        margin: auto;
        border: 3px solid #e1e1e1;
        padding: 5px;
        width: 75%;
        height: 75%;
        background-color: #0f0915;
        border-radius: 20px;
        box-sizing: border-box;

        .popup{
            display: flex;
            flex-direction: column;
            padding: 15px;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            box-sizing: border-box;

            h1 {
                text-align: center;
                @include text-shadow;
            }

            .popup-img {
                display: block;
                margin: auto;
                width: 100%;
                max-width: 330px;
                box-sizing: border-box;
            }

            .popup-info {
                width: 100%;

                h2 {
                    text-align: center;
                    @include text-shadow($color:red);
                }

                p {
                    text-align: justify;
                }
            }

            .popup-button {
                margin: auto;
                width: 200px;
                height: 60px;
            }
        }
    }
}