main,
.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: stretch;
    box-sizing: border-box;
}

main {
    height: calc(100% - 60px);
}

.wrapper {
    height: 100%;
    box-sizing: border-box;
}

.nothing-svg {
    margin: auto;
    height: 80vh;
}