.main_notfound {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: stretch;
    box-sizing: border-box;

    .wrapper_notfound {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: stretch;
        box-sizing: border-box;
    }

    .main_notfound {
        height: calc(100% - 60px);
    }

    .wrapper_notfound {
        height: 100%;
        box-sizing: border-box;
    }

    .nothing-svg {
        margin: auto;
        height: 80vh;
    }
}