@import "./common.scss";

.article-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    width: 100%;

    .article-block {
        display: block;
        margin: 2% auto 0;
        border: 2px solid #676767;
        width: 90%;
        // height: 42.5vw;
        // max-height: 500px;
        background-color: #232323;
        border-radius: 10px;
        box-sizing: border-box;
        overflow: hidden;
        text-decoration: none;
        transition: all 1s;

        .article-image-block {
            width: 100%;

            > img {
                display: block;
                width: 100%;
                // height: 100%;
                height: 42.5vw;
                max-height: 400px;
                object-fit: cover;
                border-bottom: 2px solid #676767;
                box-sizing: border-box;
            }
        }

        .article-info-block {
            padding: 0 10px 10px;
            width: 100%;
            // height: 20%;
            box-sizing: border-box;

            h2 {
                margin: 5px auto;
                font-size: calc(8px + 1vw);
                text-align: center;
            }
            
            > p {
                margin: 0;
            }
            
            p {
                margin: 0;
                font-size: calc(4px + 1vw);
                text-align: justify;
                box-sizing: border-box;
            }

            .article-info-desc {
                margin: 10px 0 10px;
                width: 100%;
                box-sizing: border-box;
            }

            .article-info {
                display: flex;
                margin: 2px 0;
                width: 100%;
                justify-content: space-between;
                box-sizing: border-box;
            }
        }
    }

    .article-block:hover {
        @include box-shadow($size: 5px);
        transition: all 1s;
    }
}