@import "fonts.scss";
@import "input.scss";

.dropdown {
    position: relative;
    height: $input_height;

    .visible {
        display: block!important;
        visibility: visible!important;
    }

    .search {
        width: 100%;
    }

    input.search {
        margin: 0;
        border-width: $input_border;
        padding: 0 $input_padding_hor;
        height: $input_height;
        box-sizing: border-box;
        color: $input_text_color;
        font-size: $input_font_size;
        font-family: $input_font;
        font-weight: 100;
        background-color: #2d2d2d;
    }

    .text {
        margin-top: -$input_height;
        padding: 0 $input_padding_hor + $input_border;
        height: $input_height;
        box-sizing: border-box;
        color: $input_holder_text_color;
        font-size: $input_font_size;
        line-height: $input_height;
        font-family: $input_font;
        font-weight: 100;
    }

    .menu {
        position: absolute;
        display: none;
        width: 100%;
        max-height: 300px;
        background-color: #2d2d2d;
        box-sizing: border-box;
        border-radius: 10px;
        overflow-y: scroll;

        .item {
            margin: 0 auto;
            border-bottom: 1px solid black;
            padding: 5px;
            width: 100%;
            box-sizing: border-box;
            transition: background .5s;

            .text {
                color: $input_text_color;
            }
        }

        .item:hover {
            background-color: #404040;
            transition: background 1s;
        }
    }
}