@import "input.scss";

.filter-panel {
    position: relative;
    display: flex;
    justify-content: stretch;
    padding: 10px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    z-index: 5;

    .dropdown {
        margin-right: 5px;
        flex-grow: 1;
        width: 60%;
    }

    .mazip_button {
        width: 20%;
        height: $input_height;

        > a {
            display: table-cell;
            font-size: $input_font_size;
            $input_holder_text_color: #80808080;
            $font-family: $input_font;
            color: $input_text_color;
            border: 2px solid #676767;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            background: #2d2d2d;
            border-radius: 5px;
            transition: all 0.5s;
            cursor: pointer;
        }

        > a:hover {
            color: $input_text_color;
            background: #2d2d2d;
            box-shadow:
                -2px -2px $input_shadow-size $input_shadow-color,
                -2px 2px $input_shadow-size $input_shadow-color,
                2px -2px $input_shadow-size $input_shadow-color,
                2px 2px $input_shadow-size $input_shadow-color;
        }
    }
}