@import "input.scss";

.filter-panel {
    position: relative;
    display: flex;
    justify-content: stretch;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;

    .wrap_dropdown {
        margin-right: 5px;
        flex-grow: 1;
        width: 60%;
    }
}