@import "input.scss";

.wrap_input_search {
    margin-right: 5px;
    flex-grow: 1;
    width: 60%;

    .search {
        width: 100%;
    }

    input.search {
        margin: 0;
        border-width: $input_border;
        padding: 0 $input_padding_hor;
        height: $input_height;
        box-sizing: border-box;
        color: $input_text_color;
        font-size: $input_font_size;
        font-family: $input_font;
        font-weight: 100;
        background-color: #2d2d2d;
    }
}

.wrap_button_search {
    width: 20%;
    height: $input_height;

    .mazip_button {
        display: table;
        width: 100%;
        height: 100%;

        > a {
            display: table-cell;
            font-size: $input_font_size !important;
            $input_holder_text_color: #80808080 !important;
            $font-family: $input_font !important;
            color: $input_text_color !important;
            border: 2px solid #676767 !important;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            background: #2d2d2d !important;
            border-radius: 5px;
            transition: all 0.5s;
            cursor: pointer;
        }

        > a:hover {
            color: $input_text_color;
            background: #2d2d2d;
            box-shadow:
                -2px -2px $input_shadow-size $input_shadow-color,
                -2px 2px $input_shadow-size $input_shadow-color,
                2px -2px $input_shadow-size $input_shadow-color,
                2px 2px $input_shadow-size $input_shadow-color;
        }
    }
}