footer {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100px;
    color: rgb(200, 200, 200);
    background-color: #151119;
    box-sizing: border-box;

    > .wrapper_footer {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: auto;
        padding: 15px 10px;
        width: 90%;
        height: 100%;
        box-sizing: border-box;


        > .footer_content_blocks {
            display: flex;
            justify-content: space-between;
            width: 100%;

            > .footer_content_block {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
            }
        }
    }
}