@import "vars.scss";
@import "fonts.scss";
@import "mazip.scss";
@import "input.scss";

html {
    scroll-behavior: smooth;
    min-width: 320px;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #c8c8c8;
    font-family: $font_light;
    font-weight: 100;
    @media (max-width: 513px) {
        font-size: calc(3vw + .5vmin);
    }
    @media (min-width: 513px) {
        // font-size: 1em;
    }
}

a {
    color: #c8c8c8;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-shadow: black -1px -1px 2px, black 1px -1px 2px, black -1px 1px 2px, black 1px 1px 2px;
    font-family: $font_light;
    text-shadow: none;
    background-color: #0f0915;
}

#root {
    width: 100%;
    height: 100%;
}

main {
    @media (max-width: 768px) {
        padding-top: $header_height_menu
    }
    
    @media (min-width: 769px) {
        padding-top:  $header_height;
    }
   
    margin: auto;
    width: 100%;
    max-width: $max_width;
    box-sizing: border-box;
    /* background-image: url(/img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}

section {
    width: 100%;
}

section > .wrapper {
    margin: auto;
    padding: 15px 10px;
    box-sizing: border-box;
}

section h2 {
    margin: 0;
    padding: 2%;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin: auto;
    color: #c8c8c8;
    font-family: $font_light;
    font-weight: 100;
}

.image_border_hexagon {
    stroke: #370061;
    stroke-width: 3;
}

.flex_grid {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.flex_grid_cell {
    flex-basis: 33%;
    box-sizing: border-box;
}

.table_block_centrate {
    display: table;
    width: 100%;
    height: 100%;
}

.table_block_centrate_cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@font-face {
    font-family: "Aileron-UltraLight";
    src: local('Aileron-UltraLight'), url(/src/static/fonts/Aileron-UltraLight.otf) format('otf');
    // src: url("/src/static/fonts/Aileron-UltraLight.otf");
    font-weight: 100;
}

@font-face {
    font-family: "Aileron-Light";
    src: local('Aileron-Light'), url(/src/static/fonts/Aileron-Light.otf) format('otf');
    // src: url("/src/static/fonts/Aileron-Light.otf");
    src: nudista-web, sans-serif;
}

// @font-face {
//     font-family: $font_ultralight;
//     src: url("/fonts/Meera-Inimai-Regular/meerainimai/MeeraInimai-Regular.ttf");
//     font-weight: 100;
// }
// @font-face {
//     font-family: $font_light;
//     src: url("/fonts/Meera-Inimai-Regular/meerainimai/MeeraInimai-Regular.ttf");
//     src: nudista-web, sans-serif;
// }
// @font-face {
//     font-family: "SF-UI-Display-Ultralight";
//     src: url("/fonts/SF/SF-UI-Display-Ultralight.ttf");
// }
// @font-face {
//     font-family: "SF-UI-Display-Light";
//     src: url("/fonts/SF/SF-UI-Display-Light.ttf");
// }
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #370061;
}

.button_underline {}

.button_underline a {
    display: table-cell;
    height: 40px;
    color: rgb(0, 255, 255);
    text-decoration: none;
    text-align: -webkit-center;
    vertical-align: middle;
    box-sizing: border-box;
}

.button_underline a:hover .link_down_border {
    width: 100%;
    text-align: -webkit-center;
    transition: all 0.5s;
}

@media (min-width: 900px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .wrapper {
        width: 100%;
    }
}

.img_content {
    height: 100%;
}

.scale_by_width {
    width: 100%;
}

.scale_by_height {
    height: 70%;
}

form {
    margin: 0 auto;
}

table {
    @media (max-width: 513px) {
        font-size: calc(3vw + .5vmin);
    }
}

textarea {
    color: white;
}