.wrapper {
    width: 100%;
}

.loading-block {
    display: flex;
    justify-content: center;

    .loading-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h4, p {
            margin: 0;
        }
    }

    .loading-img {
        display: block;
        width: 100px;
    }
}